window {
    font: "Aguafina Script 13";
    location: south;
    anchor: south;
    y-offset: -50px;
    width: 260px;
    height: 280px;
    border: 2px;
    border-color: #fca5a5;
    background-color: Black;
    border-radius: 6px;
    padding: 10px;
}

element-text {
    font: "Aguafina Script 13";
}

mainbox {
    children: [ listview ];
}

inputbar, entry, prompt, case-indicator {
    enabled: false;
    padding: 0px;
    margin: 0px;
    border: 0px;
    height: 0px;
    width: 0px;
    background-color: transparent;
    text-color: transparent;
}

listview {
    fixed-height: false;
    dynamic: true;
    scrollbar: false;
    spacing: 2px;
    padding: 0px;
    margin: 0px;
}

element {
    padding: 4px 6px;
}

element alternate.normal {
    background-color: Black;
}
