window {
    font: "Iosevka Nerd Font Mono 14";
    location: south;
    anchor: south;
    width: 300px;
    height: 300px;
    y-offset: -50px;
    border: 2px;
    border-color: #fca5a5;
    background-color: Black;
    border-radius: 6px;
    padding: 20px;
}

mainbox {
    children: [ listview ];
}

inputbar, entry, prompt, case-indicator {
    enabled: false;
    padding: 0px;
    margin: 0px;
    border: 0px;
    height: 0px;
    width: 0px;
    background-color: transparent;
    text-color: transparent;
}

listview {
    fixed-height: false;
    dynamic: true;
    scrollbar: false;
    spacing: 0px;
}

element {
    padding: 2px 4px;
    background-color: Black;
}

element alternate.normal {
    background-color: Black;
}

element selected {
    background-color: SteelBlue;
}

element-text, element-icon {
    background-color: inherit;
    text-color: inherit;
}

element-text {
    font: "Iosevka Nerd Font Mono 14";
}
